<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Mongo RPG - Main Admin Page</title>
    <meta name="author" content="Tudor Nica">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
</head>

<body>
	
	<div>
		<span th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</span>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out">
		</form>
	</div>
	
	<div>  
	 
        <h3>List of Users</h3>
        <br />
        
        <table>
            <thead>
              <tr>
                <th scope="col">Name </th>
                <th scope="col">Characters </th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody th:each="i : ${users}">
                <tr th:if="${i.role} == 'USER'">
                    <th th:text="${i.name}"></th>
                    <td>
                    	<ul th:each="j : ${i.characters}">
                    		<li th:text="${j.charName}"></li>
                    	</ul>
                    </td>
                    <td><a th:href="@{/deleteuser/{userName}(userName=${i.name})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
            
        <h3>List of Locations</h3>
        <br />
        
        <table>
            <thead>
              <tr>
                <th scope="col">Name </th>
                <th scope="col">Description </th>
                <th scope="col">Image Location</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Monsters Present</th>
              </tr>
            </thead>
            <tbody>
                <tr th:each="i : ${locations}">
                    <th th:text="${i.name}"></th>
                    <td th:text="${i.description}"></td>
                    <td th:text="${i.picture}"></td>
                    <td><a th:href="@{/editlocation/{locationName}(locationName=${i.name})}">Edit</a></td>
                    <td><a th:href="@{/deletelocation/{locationName}(locationName=${i.name})}">Delete</a></td>
                    <td>
                   		<ul th:each="j : ${i.monsters}">
                   			<li>
	                   			<span th:text="${j.monsterName}"></span>
	                   			<a th:href="@{/editmonster/{locationName}/{monsterName}(locationName=${i.name},monsterName=${j.monsterName})}">Edit</a>
	                   			<a th:href="@{/deletemonster/{locationName}/{monsterName}(locationName=${i.name},monsterName=${j.monsterName})}">Delete</a>	
                   			</li>
                   		</ul>
                   		<a th:href="@{/newmonster/{locationName}(locationName=${i.name})}">Create New Monster</a><br />   
                    </td>
                </tr>
                <tr>
                	<td>
                		<a sec:authorize="hasAuthority('ADMIN')" href="/newlocation">Create New Location</a><br />   
                	</td>
                </tr>
            </tbody>
            
        </table>
        
        <a href="/main">Back</a><br />
                  
        <a sec:authorize="hasAuthority('ADMIN')" href="/documentation-restful">RESTful Documentation</a><br />
        <a sec:authorize="hasAuthority('ADMIN')" href="/documentation-database">Database Documentation</a>
    
    </div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	
</body>