<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Mongo RPG - Character Edit</title>
    <meta name="author" content="Tudor Nica">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gabriela%7CShojumaru" />
    <link rel="stylesheet" href="/css/stylesheet.css" />
</head>

<body class="text-center">
	
	<!-- Nav Bar -->
    <nav class="container rounded navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
        	<span th:inline="text" class="navbar-brand">Hello [[${#httpServletRequest.remoteUser}]]!</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            	<ul class="navbar-nav ml-auto">
				    <li class="nav-item">
				        <a class="nav-link" href="/main">Main Page</a>
				    </li>
				    <li class="nav-item">
				        <a class="nav-link" sec:authorize="hasAuthority('ADMIN')" href="/admin">Admin Page</a>
				    </li>
				    <li class="nav-item">
				        <a class="nav-link" sec:authorize="hasAuthority('ADMIN')" href="/documentation-restful">RESTful Doc</a>
				    </li>
				   	<li class="nav-item">
				        <a class="nav-link" sec:authorize="hasAuthority('ADMIN')" href="/documentation-database">Database Doc</a>
				    </li>
				    <li class="nav-item">
						<form th:action="@{/logout}" method="post">
							<input type="submit" class="nav-link" value="Sign Out">
						</form>
				    </li>
				</ul>
            </div>
        </div>
    </nav>
	
	<!-- Content -->
	<div class="container top">   
    	<h1>MORPG</h1>
    	<br/>
		
		<!-- Character Edit Form -->
		<div class="big-holder rounded">
			<h3>Character Edit Page</h3>
    		<br />
    		<div class="row">
			<div class="col-6">
				<form th:object="${charToEdit}" th:with="myUser=${userName}" th:action="@{../../update}" action="#" method="post">
					<div class="form-row">
						<div class="col-6">
						  	<label for="charName">Character Name</label>
							<input class="form-control readonly" type="text" id="charName" th:placeholder="${charToEdit.charName}" th:field="${charToEdit.charName}" required readonly />
						</div>
						<div class="col-6">
							<label for="type">Class</label>
							<select id="type" class="form-control" th:field="${charToEdit.type}">
								<option th:each="j : ${types}"
										th:value="${j.typeName}"
										th:text="${j.typeName}">
								</option>
							</select>
						</div>
					</div>
					<br />
					<div class="form-row">
						<div class="col-12">
						  	<label for="flavourText">Character Flavour Text</label>
							<input type="text" class="form-control" id="flavourText" th:placeholder="${charToEdit.flavourText}" th:field="${charToEdit.flavourText}" required />
						</div>
					</div>
					<br />
					<div class="form-row">
						<div class="col-12">
						  	<label for="weapon">Weapon</label><br />
						  	<div class="alert alert-light" role="alert">
						  		Since destiny gave <span th:text="${charToEdit.charName}"></span> the <b><span th:text="${charToEdit.weapon}"></span></b>, they are inseparable.
							</div>						  	
						</div>
					</div>
					<br />
					<div class="form-row" sec:authorize="hasAuthority('ADMIN')">	
						<div class="col-6">
							<input type="number" class="form-control" id="victories" th:placeholder="${charToEdit.victories}" th:field="${charToEdit.victories}" required />
						</div>
						<div class="col-6">
							<input type="number" class="form-control" id="defeats" th:placeholder="${charToEdit.defeats}" th:field="${charToEdit.defeats}" required />
						</div>
					</div>
					<div>
						<input type="hidden" id="weapon" th:placeholder="${charToEdit.weapon}" th:field="${charToEdit.weapon}" required readonly />
					</div>
					<input type="hidden" name="userName" th:value="${myUser}" />				 
					<br />
					<div>
						<a class="btn btn-secondary" sec:authorize="hasAuthority('ADMIN')" th:href="@{/main}">Main Page</a>
						<a class="btn btn-secondary" sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}">Admin Page</a>
						<a class="btn btn-secondary" sec:authorize="hasAuthority('USER')" th:href="@{/main}">Back</a>
					    <button class="btn btn-warning" type="reset">Reset</button>
					    <button class="btn btn-success" type="submit">Save</button>
					</div>
				</form>
			</div>
			<div class="col-6">
				<span>Read about available Classes</span>
                <div class="accordion" id="myAccordion">
                    <div class="card" th:each="k : ${types}">
                        <div class="card-header" th:id="${k.attack}">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" th:data-target="'#' + ${k.typeName}" aria-expanded="false" th:aria-controls="${k.typeName}">
                                <span th:text=${k.typeName}></span>
                                </button>
                            </h5>
                        </div>
                        <div th:id="${k.typeName}" class="collapse" th:aria-labelledby="${k.attack}" data-parent="#myAccordion">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
		                    		<li class="list-group-item" th:text="'Attack Power: ' + ${k.attack}"></li>
		                    		<li class="list-group-item" th:text="'Defense: ' + ${k.defence}"></li>
		                    		<li class="list-group-item" th:text="'Attack Type: ' + ${k.attackType}"></li>
		                    		<li class="list-group-item" th:text="'Vulnerability: ' + ${k.vulnerability}"></li>
		                    		<li class="list-group-item" th:text="'Preferred Terrain: ' + ${k.terrain}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			</div>
		</div>		
	</div>
	
    <footer>
        <div class="container">

			A MongoDB School Project - &copy; 2018, Tudor Nica

        </div>
    </footer>
		
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	
</body>