<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Mongo RPG - Fight Results</title>
    <meta name="author" content="Tudor Nica">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/stylesheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Gabriela%7CShojumaru" rel="stylesheet" />
</head>

<body class="text-center">

	<!-- Nav Bar -->
    <nav class="container rounded navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
        	<span th:inline="text" class="navbar-brand">Hello [[${#httpServletRequest.remoteUser}]]!</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            	<ul class="navbar-nav ml-auto">
				    <li class="nav-item">
				        <a class="nav-link" href="/main">Main Page</a>
				    </li>
				    <li class="nav-item">
				        <a class="nav-link" sec:authorize="hasAuthority('ADMIN')" href="/admin">Admin Page</a>
				    </li>
				    <li class="nav-item">
				        <a class="nav-link" sec:authorize="hasAuthority('ADMIN')" href="/documentation-restful">RESTful Doc</a>
				    </li>
				   	<li class="nav-item">
				        <a class="nav-link" sec:authorize="hasAuthority('ADMIN')" href="/documentation-database">Database Doc</a>
				    </li>
				    <li class="nav-item">
						<form th:action="@{/logout}" method="post">
							<input type="submit" class="nav-link" value="Sign Out">
						</form>
				    </li>
				</ul>
            </div>
        </div>
    </nav>

	<!-- Content -->
	<div class="container top">   
    	<h1>MORPG</h1>
    	<br/>
		
		<!-- Intro -->
    	<div class="transparent-holder rounded" th:style="'background-image:url(/img/' + @{${result.locationUrl}} + '); background-repeat: no-repeat; background-attachment: fixed;'">
    		<div class="intro-text">		
				<p>
					<b><span th:text="${result.character.flavourText}"></span></b> enters the <b><span th:text="${result.locationName}"></span></b>...
				</p>
				<p>
					A vicious <b><span th:text="${result.monster.monsterName}"></span></b> spawns and attacks!!
				</p>
				<p>
					<b><span th:text="${result.character.charName}"></span></b> readies the powerful <b><span th:text="${result.weapon.weaponText}"></span></b> and the fight begins!
				</p>
				<p>
					You <th:block th:switch="${result.dice}">
					    <span th:case="1">
					        could only do a pitiful roll of 
					    </span>
					    <span th:case="2">
					        only threw a puny roll of 
					    </span>
					    <span th:case="3">
					        rolled a mediocre 
					    </span>
					    <span th:case="4">
					        rolled a somewhat decent 
					    </span>
					    <span th:case="5">
					        threw a beautiful 
					    </span>
					    <span th:case="6">
					        managed an amazing roll of 
					    </span>
					</th:block><b><span th:text="' ' + ${result.dice}"></span></b>.
				</p>
			</div>
		</div>
		
		<br />
		
		<!-- Fight Results -->
		<div class="big-holder rounded" id="stats">
		
			<div th:if="${result.battleResult > 0}"> 
				 <div class="alert alert-success">
				 	<h3>Congratulations, you won! Final score was <span th:text="${result.battleResult}"></span>.</h3>
				 	<p>Your reputation is growing. Bards are singing about <span th:text="${result.character.charName}"></span>'s success! Character statistics have been updated.</p>
				 </div>
			</div>
			<div th:if="${result.battleResult < 0}"> 
				 <div class="alert alert-danger">
				 	<h3>You lost! Too bad.. Final score was <span th:text="${result.battleResult}"></span>.</h3>
				 	<p>The monster gives you a good beating. Battered and bruised, <span th:text="${result.character.charName}"></span> returns home.</p>
				 </div> 
			</div>
			<div th:if="${result.battleResult == 0}"> 
				 <p>Somehow you managed to draw the battle. What are the chances?</p>
			</div>

			<br />
			
			<h3>Fight Statistics</h3>
			<br />
			
			<table class="table table-hover table-light responsive">
				<thead>
					<tr>
						<th></th>
						<th><span th:text="${result.character.charName}"></span> the <span th:text="${result.type.typeName}"></span></th>
						<th><span th:text="${result.monster.monsterName}"></span> the Monster</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Weapon Power </td>
						<td th:text="${result.weapon.power}"></td>
						<td></td>
					</tr>
					<tr>
						<td>Attack Power </td>
						<td th:text="${result.type.attack}"></td>
						<td th:text="${result.monster.attack}"></td>
					</tr>
					<tr>
						<td>Player Attack vs Monster Vulnerability </td>
						<td th:text="${result.type.attackType}"></td>
						<td th:text="${result.monster.vulnerability}"></td>
					</tr>
					<tr>
						<td>Resulting Bonus </td>
						<td th:text="${result.bonusFromAttack}"></td>
						<td></td>
					</tr>
					<tr>
						<td>Player Vulnerability vs Monster Attack </td>
						<td th:text="${result.type.vulnerability}"></td>
						<td th:text="${result.monster.attackType}"></td>
					</tr>
					<tr>
						<td>Resulting Penalty </td>
						<td></td>
						<td th:text="${result.penaltyFromMonsterAttack}"></td>
					</tr>
					<tr>
						<td>Defense Value </td>
						<td th:text="${result.type.defence}"></td>
						<td th:text="${result.monster.defence}"></td>
					</tr>
					<tr>
						<td>Favorite Location </td>
						<td th:text="${result.type.terrain}"></td>
						<td th:text="${result.locationName}"></td>
					</tr>
					<tr>
						<td>Resulting Bonus </td>
						<td><span  th:unless="${result.bonusFromLocation.equals(0)}" th:text="${result.bonusFromLocation}"></span></td>
						<td>5</td>
					</tr>
					<tr>
						<td>Calculated Dice Value </td>
						<td th:text="${result.diceValue}"></td>
						<td></td>
					</tr>			
				</tbody>
			</table>
			
			<a class="btn btn-secondary" th:href="@{/main}">Back to main page</a><br />
		</div>
	</div>
	
    <footer>
        <div class="container">

			A MongoDB School Project - &copy; 2018, Tudor Nica

        </div>
    </footer>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	
</body>