<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Mongo RPG - Location Edit</title>
    <meta name="author" content="Tudor Nica">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/stylesheet.css" />
</head>

<body>
	
	<div>
		<span th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</span>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out">
		</form>
	</div>
	
	<div>

		<h1>Location Edit</h1>
		<br />

		<div>
			<form th:object="${locationToEdit}" th:action="@{../../updatelocation}" action="#" method="post">
			
				<div>
					<input type="hidden" id="id" th:placeholder="${locationToEdit.id}" th:field="${locationToEdit.id}" required />
				</div>
				<div>
				  	<label for="name">Location Name: </label>
					<input type="text" id="name" th:placeholder="${locationToEdit.name}" th:field="${locationToEdit.name}" required />
				</div>
				<div>
				  	<label for="description">Description: </label>
					<input type="text" id="description" th:placeholder="${locationToEdit.description}" th:field="${locationToEdit.description}" required />
				</div>
				<div>
					<label for="picture">Picture URL: </label>
					<input type="text" id="picture" th:placeholder="${locationToEdit.picture}" th:field="${locationToEdit.picture}" required />
				</div>			 
				<div>
					<a href="/admin">Back</a>
				    <button type="reset">Reset</button>
				    <input type="submit" value="Save" />
				</div>

			</form>
		
		</div>

	</div>
		
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	
</body>