<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Mongo RPG - Welcome</title>
    <meta name="author" content="Tudor Nica">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/stylesheet.css" />
</head>
<body>
    <div>
	    <form th:action="@{/login}" method="post">

	    	<h1>Mongo RPG - Welcome</h1>
	    	<br />
			<input type="text" name="username" placeholder="Username" required autofocus />
			<br />
	        <input type="password" name="password" placeholder="Password" required />
	        <hr />
	        <button type="submit">Sign In</button>
	        <br />
			<a th:href="@{/signup}">New Member</a>
	        <br />
	       	<div role="alert" th:if="${param.error}">
	        	Invalid name and password!
	    	</div>
	    	<div role="alert" th:if="${param.logout}">
	        	You have been logged out!
	    	</div>
	    	<div role="alert" th:if="${param.success}">
	        	Account created successfully!
	    	</div>
	    </form>
    </div>
</body>
