<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Mongo RPG</title>
    <meta name="author" content="Tudor Nica">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
</head>

<body>
	
	<div>
		<span th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</span>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out">
		</form>
	</div>
	
	<div>   
        <h1>Your characters</h1>
        <br />
        <table>
            <thead>
              <tr>
                <th scope="col">Name </th>
                <th scope="col">Class </th>
                <th scope="col">Level </th>
                <th scope="col">Attributes </th>
                <th scope="col">Weapon </th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody th:each="i : ${users}" th:if="${i.name} == ${#httpServletRequest.remoteUser}">
                <tr th:each="j : ${i.characters}" th:if="${j.isDeleted} == false">
                    <th th:text="${j.charName}"></th>
                    <td th:text="${j.type}"></td>                    
                   	<td th:text="${j.level}"></td>
                    <td th:each="k : ${types}" th:if="${j.type} == ${k.typeName}">
                    	<ul>
                    		<li th:text="'Attack Power: ' + ${k.attack}"></li>
                    		<li th:text="'Defense: ' + ${k.defence}"></li>
                    		<li th:text="'Attack Type: ' + ${k.attackType}"></li>
                    		<li th:text="'Vulnerability: ' + ${k.vulnerability}"></li>
                    		<li th:text="'Preferred Terrain: ' + ${k.terrain}"></li>
                    	</ul>
                    </td>
                    <td th:text="${j.weapon}"></td>     
                    <td><a th:href="@{/delete/{userName}/{charName}(userName=${i.name},charName=${j.charName})}">Delete</a></td>
                    <td><a th:href="@{/edit/{userName}/{charName}(userName=${i.name},charName=${j.charName})}">Edit</a></td>
                </tr>
            </tbody>
            
        </table>
        
        <a th:href="@{/create/{userId}/{charName}(userId=${#httpServletRequest.remoteUser},charName=${#httpServletRequest.remoteUser})}">Create New Character</a><br />
        <a sec:authorize="hasAuthority('ADMIN')" href="/monsters">Create New Monster</a><br />
        <a sec:authorize="hasAuthority('ADMIN')" href="/users" target="_blank">See User JSON</a><br />
        
	</div>
	   
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	
</body>
