<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Mongo RPG</title>
    <meta name="author" content="Tudor Nica">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gabriela%7CShojumaru" />
    <link rel="stylesheet" href="/css/stylesheet.css" />
</head>

<body class="text-center">

	<!-- Nav Bar -->
    <nav class="container rounded navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
        	<span th:inline="text" class="navbar-brand">Hello [[${#httpServletRequest.remoteUser}]]!</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            	<ul class="navbar-nav ml-auto">
				    <li class="nav-item">
				        <a class="nav-link" href="/main">Main Page</a>
				    </li>
				    <li class="nav-item">
				        <a class="nav-link" sec:authorize="hasAuthority('ADMIN')" href="/admin">Admin Page</a>
				    </li>
				    <li class="nav-item">
				        <a class="nav-link" sec:authorize="hasAuthority('ADMIN')" href="/documentation-restful">RESTful Doc</a>
				    </li>
				   	<li class="nav-item">
				        <a class="nav-link" sec:authorize="hasAuthority('ADMIN')" href="/documentation-database">Database Doc</a>
				    </li>
				    <li class="nav-item">
						<form th:action="@{/logout}" method="post">
							<input type="submit" class="nav-link" value="Sign Out">
						</form>
				    </li>
				</ul>
            </div>
        </div>
    </nav>
	
	<!-- Content -->
	<div class="container top">   
    	<h1>MORPG</h1>
    	<br/>
    	
    	<!-- Fight Menu -->
    	<div class="big-holder rounded">
	        <div th:each="i : ${users}" th:if="${i.name} == ${#httpServletRequest.remoteUser}">
				<form th:object="${fight}" th:with="myUser=${#httpServletRequest.remoteUser}" th:action="@{/fight}" method="post">
					<div class="form-row">
					<input type="hidden" name="userName" th:value="${myUser}" />
						
						<div class="col-3">
							<label for="${fight.charName}">Choose Character</label><br />
							<select class="form-control form-control-lg" id="character" th:field="${fight.charName}">
								<option th:each="j : ${i.characters}"
										th:value="${j.charName}"
										th:text="${j.charName}">
								</option>
							</select>
						</div>
					
						<div class="col-6">
							<label for="${fight.locationName}">Choose Location</label><br />
							<select class="form-control form-control-lg" id="location" th:field="${fight.locationName}">
								<option th:each="j : ${locations}" 
										th:value="${j.name}"
										th:text="${j.description}">
								</option>
							</select>
						</div>
		
						<div class="col-3">
							
							<label for="fight-button">Roll the die!</label><br />
							<div class="form-row">
								<div class="col-6">
									<input class="form-control form-control-lg" type="text" th:field="${fight.dice}" id="rollResultField" readonly />
								</div>
								<div class="col-6">
									<button class="btn btn-warning btn-lg btn-block" onclick="diceRoll(); this.disabled = true; return false;">Roll</button>	
								</div>
							</div>
						</div>
					</div>
					<br />
					<div id="fightButton">
						<div class="form-row">
							<div class="col-3"></div>
							<div class="col-6">
								<button class="btn btn-danger btn-lg btn-block" th:unless="${i.characters.isEmpty() OR locations.isEmpty()}" type="submit">Fight!</button>
							</div>
						</div>
						<div class="form-row">
							<div class="col-12" id="errors">
								<div th:if="${i.characters.isEmpty()}" role="alert"><br /><span class="block alert alert-danger" th:text="${'You have no characters. Create one!'}"></span></div>
								<div th:if="${locations.isEmpty()}" role="alert"><br /><span class="block alert alert-danger" th:text="${'There are no available locations. Ask the mighty Admin to create one!'}"></span></div>
							</div>
						</div>
					</div>
				</form>
			</div>   	
    	</div>
    	
    	<br />
    	
    	<!-- Characters Table -->
    	<div class="big-holder rounded">
    	<h3>Your Characters</h3>
    	<br />
        <table class="table table-hover table-light responsive">
            <thead>
              <tr>
                <th scope="col">Name </th>
                <th scope="col">Class </th>
                <th scope="col">Weapon </th>
                <th scope="col">Attributes </th>
                <th scope="col">Victories </th>
				<th scope="col">Defeats </th>
              </tr>
            </thead>
            <tbody th:each="i : ${users}" th:if="${i.name} == ${#httpServletRequest.remoteUser}">
                <tr th:each="j : ${i.characters}">
                    <td style="width:25%">
                    	<b><span th:text="${j.charName}"></span></b><br /><br />
                    	<span th:text="${j.flavourText}"></span><br /><br />
						<a th:href="@{/edit/{userName}/{charName}(userName=${i.name},charName=${j.charName})}"><i class="fas fa-edit"></i></a>
                    	<a th:href="@{/delete/{userName}/{charName}(userName=${i.name},charName=${j.charName})}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                    <td style="width:10%" th:text="${j.type}"></td>                    
                   	<td style="width:20%" th:each="k : ${weapons}" th:if="${j.weapon} == ${k.weaponName}">
                   		<span th:text="${k.weaponText}"></span><br /><br />
                   		<span th:text="'Power: ' + ${k.power}"></span>
                   	</td>
                    <td style="width:35%" th:each="k : ${types}" th:if="${j.type} == ${k.typeName}">
                    	<ul class="list-group list-group-flush">
                    		<li class="list-group-item" th:text="'Attack Power: ' + ${k.attack}"></li>
                    		<li class="list-group-item" th:text="'Defense: ' + ${k.defence}"></li>
                    		<li class="list-group-item" th:text="'Attack Type: ' + ${k.attackType}"></li>
                    		<li class="list-group-item" th:text="'Vulnerability: ' + ${k.vulnerability}"></li>
                    		<li class="list-group-item" th:text="'Preferred Terrain: ' + ${k.terrain}"></li>
                    	</ul>
                    </td>
                    <td style="width:5%" th:text="${j.victories}"></td>
                    <td style="width:5%" th:text="${j.defeats}"></td>
                </tr>
            </tbody>
        </table>
        
        <a class="btn btn-success" th:href="@{/create/{userName}(userName=${#httpServletRequest.remoteUser})}">Create New Character</a><br />
        
		</div>
        
	</div>

    <footer>
        <div class="container">

			A MongoDB School Project - &copy; 2018, Tudor Nica

        </div>
    </footer>
	   
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script>
		if(performance.navigation.type == 2) {
		   location.reload(true);
		}
		function diceRoll() {
			var rollResult = Math.floor(Math.random()*6+1);
			document.getElementById('rollResultField').value = rollResult;
			document.getElementById('fightButton').style.display = "block";
		}
	</script>

</body>
