<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Create new account</title>
	<meta name="author" content="Tudor Nica">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/stylesheet.css" />
</head>
<body>
	<div>
		<form th:object="${signform}" th:action="@{/saveuser}" action="#" method="post">

	    	<h1>New Account</h1>
	    	<br />
			<input type="text" th:field="*{name}" placeholder="Username" required autofocus />
			<div role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
	        	Username Error
	    	</div>
			<br />
			<input type="password" th:field="*{password}" placeholder="Password" required />
			<div role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
	        	Password Error
	    	</div>
			<br />
			<input type="password" th:field="*{passwordCheck}" placeholder="Re-type password" required />
			<div role="alert" th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">
	        	Password Match Error
	    	</div>
			<hr />
			<button type="submit">Create New Account</button>	
			<br />
			<a href="/index">Go Back</a>
		</form>
	</div>
</body>
</html>